<h5>Atributos de la expansión</h5>

<p>El estudio de la expansión urbana requiere de la comparación entre el desarrollo de diferentes ciudades. Existen infinitas razonas por las cuales una ciudad puede crecer e infinitas formas de hacerlo. Cualquiera sea el caso, todas las ciudades comparten 4 atributos fundamentales.</p>

<h6>Extensión del Área Urbana</h6>
<p>La extensión del área urbana o la cobertura del área urbana es medida por el total de la superficie construida (o área no permeable) de las ciudades. En algunos casos se suele incluir en el cálculo, la cantidad de suelo rural abierto capturado por lo urbano o las zonas rurales de borde afectadas por el desarrollo urbano.</p>

<h6>Densidad</h6>
<p>La densidad suele medirse como el ratio entre la población total de una ciudad y la superficie total ocupada por lo construido.</p>

<h6>Fragmentación</h6>
<p>La fragmentación se mide a partir de la cantidad relativa y la estructura de los espacios abiertos que son fragmentados por el desarrollo no continuo del tramado urbano hacia la periferia.</p>

<h6>Compacidad</h6>
<p>Compacidad mide la diferencia entre la superficie de un circulo y la huella urbana. A medida que la forma del desarrollo urbano se asemeja a la de unos tentáculos; la ciudad es menos compacta.</p>

<p>Para poder realizar comparaciones precisas entre ciudades fue necesario desarrollar un marco analítico que transforme estas medidas en métricas replicables.</p>