<h5>Bibliografía</h5>

<ul>
    <li><a href="http://www.lincolninst.edu/subcenters/atlas-urban-expansion/Default.aspx" target="_blank">Atlas of Urban Expansion</a></li>
    <li><a href="https://www.lincolninst.edu/pubs/dl/1834_1085_Angel%20Final%201.pdf" target="_blank">The Persistent Decline in Urban Densities: Global and Historical Evidence of ‘Sprawl’</a></li>
    <li><a href="https://www.lincolninst.edu/pubs/dl/1835_1086_Angel%202%20Final.pdf" target="_blank">The Fragmentation of Urban Footprints:  Global Evidence of Sprawl, 1990-2000</a></li>
    <li><a href="https://www.lincolninst.edu/pubs/dl/1861_1171_Angel%20III%20Final.pdf" target="_blank"></a> A Planet of Cities: Urban Land Cover Estimates and Projections for All Countries, 2000-2050</a></li>
    <li><a href="http://siteresources.worldbank.org/INTURBANDEVELOPMENT/Resources/dynamics_urban_expansion.pdf" target="_blank">The dynamics of global Urban Expansion</a></li>
</ul>