<h5>Contacto</h5>
<address>
    <strong>Universidad Torcuato Di Tella</strong><br>
    Sáenz Valiente 1010 (C1428BIJ)<br>
    Ciudad de Buenos Aires, Argentina<br>
    <abbr title="Teléfono">T:</abbr> (54 11) 5169 7000
    <abbr title="Email">E:</abbr> <a href="mailto:cipuv@utdt.edu">cipuv@utdt.edu</a>
</address>

<h5>Descargas</h5>
<p>En caso de usar el Atlas CIPUV  de Crecimiento Urbano  para cualquier estudio que desee ser publicado, sea tan amable de seguir correctamente la convención académica de manera completa.</p>
<p>La cita debe ser realizada del siguiente modo: “UTDT –CIPUV, Centro de Investigación de Políticas Urbanas y de Vivienda, Atlas de Crecimiento Urbano (2013)”.</p>
<p>En caso de desear trabajar con el material puede enviarnos un correo.</p>

<h5>Links de interés</h5>
<ul>
    <li>Lincoln Institute of Lnad Policy: <a href="http://www.lincolninst.edu/subcenters/atlas-urban-expansion/" target="_blank">http://www.lincolninst.edu/subcenters/atlas-urban-expansion/</a></li>
    <li>MIT Density Atlas: <a href="http://densityatlas.org/" target="_blank">http://densityatlas.org/</a></li>
    <li>NYU & UN: <a href="http://marroninstitute.nyu.edu/news-press/atlas-urban-expansion-2015-edition" target="_blank">http://marroninstitute.nyu.edu/news-press/atlas-urban-expansion-2015-edition</a></li>
</ul>
