<p class="lead">El AtlasCIPUV de Crecimiento Urbano es una herramienta interactiva que facilita la lectura y medición de crecimiento urbano y fragmentación urbana.</p>
<p>Las mediciones se realizaron  de la lectura de imágenes Landsat 5 con una resolución de pixeles de 30 x30 metros.</p>

<h6>¿Qué se entiende por crecimiento urbano?</h6>
<ul class="list-unstyled">
    <!--<li><br/></li>-->
    <li>1. Crecimiento Urbano</li>
    <li>
        <ul>
            <li>La <strong>densificación</strong> de áreas existentes</li>
            <li>La <strong>extensión</strong> sobre áreas contiguas a las áreas urbanas existentes</li>
            <li>El <strong>desarrollo discontinuo</strong> del tejido urbano existente.</li>
        </ul>
    </li>
    <!--<li><br/></li>-->
    <li>2. Fragmentación de las áreas urbanas</li>
    <li>Proporción de espacio abierto/ vacante en:</li>
    <li>
        <ul>
            <li>Áreas urbanas</li>
            <li>Áreas suburbanas</li>
        </ul>
    </li>
</ul>

<p>A través de estos atributos es posible medir los cambios de la estructura urbana, en los períodos: 1990-2000 y 2000-2010.</p>