<h5>Densidad, Fragmentación y Compacidad</h5>

        <ul class="list-unstyled">
            <li><strong>INDICADORES DE FRAGMENTACION:</strong> Miden la cantidad de espacio abierto dentro y alrededor de las ciudades que es fragmentado por las áreas construidas.</li>
            <li><strong>INDICE DE APERTURA:</strong> Mide la cantidad de espacio abierto en cada barrio a través del promedio de los espacios abiertos (no construidos) en un área de 1 km2 alrededor de cada pixel construido. El radio de este círculo (586 metros) corresponde con la distancia a cubrir en una caminata recreativa de 10 minutos.</li>
            <li><strong>INDICE DE CONTINUIDAD:</strong> Mide la frecuencia en qué áreas construidas están rodeadas de áreas no construidas. Los valores de este índice varían entre 0 y 1, representando los valores más altos la mayor frecuencia de pixeles construidos adyacentes a espacios abiertos.</li>
        </ul>


