@import url(http://fonts.googleapis.com/css?family=Share+Tech);

html, body, .map-canvas, #content {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body, h5 {
    font-family: 'Share Tech', sans-serif;
}

/* *********************************************************************************************************************
 * MAP CONTROLS
 * ********************************************************************************************************************/
#zoomControls {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1000;
    width: 75px;
}

#mapTypeControls {
    position: absolute;
    top: 5px;
    right: 80px;
    z-index: 1000;
    width: 210px;
}

/* *********************************************************************************************************************
 * CONTROLS
 * ********************************************************************************************************************/
#controls {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 1000;
    width: 250px;
}

#controlsIcon {
    position: absolute;
    top: 47px;
    right: 18px;
    z-index: 1001;
    font-size: 24px;
    color: white;
}

#controlsIcon span {
    cursor: pointer;
}

.legend {
    font-size: 12px;
    line-height: 1;
    margin-top: 5px;
}

.legend li {
    height: 20px;
    line-height: 16px;
}

.legend li.double-height {
    height: 33px;
}

.legend .legend-box {
    width: 16px;
    height: 16px;
    border: solid 1px #bdc3c7;
    margin-right: 4px;
}

.legend li.double-height .legend-box {
    margin-bottom: 16px;
}

/* *********************************************************************************************************************
 * DATA
 * ********************************************************************************************************************/
#data {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    width: 250px;
    font-family: Arial, sans-serif;
    font-size:10px;
}

#data .axis path, .axis line {
    fill: none;
    stroke:#b6b6b6;
    shape-rendering: crispEdges;
}

#data .tick text{
    fill:#999;
    font-size: 10px;
}

#data .hoverarea {
    fill-opacity: 0;
}

#data text.label{ font-size:12px; font-weight:bold; }
#data text.value{ font-size:12px;font-weight:bold; }

.data .tooltip-inner {
    text-align: left;
    width: 220px;
    max-width: 220px;
}
/* *********************************************************************************************************************
 * LEGENDS
 * ********************************************************************************************************************/
.legend.urban-footprint .legend-box.urban-built-up { background-color: rgb(0,38,148) }
.legend.urban-footprint .legend-box.suburban-built-up { background-color: rgb(150,150,150) }
.legend.urban-footprint .legend-box.rural-built-up { background-color: rgb(255,255,255) }
.legend.urban-footprint .legend-box.fringe-open-land { background-color: rgb(252,181,28) }
.legend.urban-footprint .legend-box.captured-open-land { background-color: rgb(161,237,0) }
.legend.urban-footprint .legend-box.rural-open-land { background-color: rgb(33,135,4) }
.legend.urban-footprint .legend-box.water { background-color: rgb(71,194,255) }

.legend.urban-area .legend-box.urban-built-up { background-color: rgb(0,38,148) }
.legend.urban-area .legend-box.suburban-built-up { background-color: rgb(150,150,150) }
.legend.urban-area .legend-box.rural-built-up { background-color: rgb(255,255,255) }
.legend.urban-area .legend-box.urbanized-open-land { background-color: rgb(252,247,115) }
.legend.urban-area .legend-box.captured-open-land { background-color: rgb(161,237,0) }
.legend.urban-area .legend-box.rural-open-land { background-color: rgb(33,135,4) }
.legend.urban-area .legend-box.water { background-color: rgb(71,194,255) }

.legend.new-development .legend-box.infill { background-color: rgb(168,56,0) }
.legend.new-development .legend-box.extension { background-color: rgb(255,85,0) }
.legend.new-development .legend-box.leapfrog { background-color: rgb(245,245,0) }

/* *********************************************************************************************************************
 * FLAT UI CUSTOMIZATION
 * ********************************************************************************************************************/
.alert {
    padding: 18px 40px 18px 20px;
    font-size: 14px;
}

.alert a {
    color: #333333;
}

.alert a:hover {
    color: #333333;
}

.ui-slider.ui-state-disabled .ui-slider-range,
.ui-slider.ui-state-disabled .ui-slider-handle {
    background-color: #bdc3c7;
}

.alert > ul {
    margin-bottom: 10px;
}

.nav-pills > li > a {
    font-size: 12px;
    font-weight: 400;
    padding: 8px 15px 8px;
}

.nav-pills.disabled > li > a {
    background-color: #bdc3c7;
    pointer-events: none;
    cursor: default;
    border-color: #a7adb1;
}