html, body, #content {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font: 22px/22px nyt-franklin, arial, sans-serif;
}

.map-canvas {
    margin: 0px;
    padding: 0px;
}

.collapse-toggle {
    font-size: 14px;
    margin-top: 10px;
}

#data h6, #data .chart-title {
    font: 700 22px/22px nyt-franklin, arial, sans-serif;
}

h5 {
    font: 700 22px/22px nyt-franklin, arial, sans-serif;
}

/* *********************************************************************************************************************
 * HEADER
 * ********************************************************************************************************************/
#header {
    margin-bottom: 0px;
}

/* *********************************************************************************************************************
 * MAP
 * ********************************************************************************************************************/
.cityLabel {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align: center;
    width: 100px;
    word-wrap: break-word;
}

/* *********************************************************************************************************************
 * MAP CONTROLS
 * ********************************************************************************************************************/
#introControl {
    position: absolute;
    top: 93px;
    right: 335px;
    z-index: 2;
    width: 20px;
    font-size: 20px;
    color: #1abc9c;
}

#zoomControls {
    position: absolute;
    top: 90px;
    right: 5px;
    z-index: 2;
    width: 110px;
}

#mapTypeControls {
    position: absolute;
    top: 90px;
    right: 120px;
    z-index: 2;
    width: 210px;
}

#currentZoning {
    margin-right: -30px;
    font-size: 14px;
}

/* *********************************************************************************************************************
 * LEGEND
 * ********************************************************************************************************************/
#legend {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
}

/* *********************************************************************************************************************
 * CONTROLS
 * ********************************************************************************************************************/
#controls {
    position: absolute;
    top: 140px;
    right: 15px;
    z-index: 2;
    width: 250px;
}

#controlsIcon {
    position: absolute;
    top: 107px;
    right: 13px;
    z-index: 1001;
    font-size: 24px;
    color: white;
}

#controlsIcon span {
    cursor: pointer;
}

#chartIcon {
    position: absolute;
    top: 70px;
    left: 13px;
    z-index: 1001;
    font-size: 24px;
    color: white;
}

#chartIcon span {
    cursor: pointer;
}

.legend {
    font-size: 12px;
    line-height: 1;
    margin-top: 5px;
}

.legend li {
    height: 20px;
    line-height: 16px;
}

.legend li.double-height {
    height: 33px;
}

.legend .legend-box {
    width: 16px;
    height: 16px;
    border: solid 1px #bdc3c7;
    margin-right: 4px;
}

.legend li.double-height .legend-box {
    margin-bottom: 16px;
}

.slider-labels {
    font-size: 10px;
    color: #999999;
    position: relative;
    top: -16px;
}

/* *********************************************************************************************************************
 * DATA
 * ********************************************************************************************************************/
#data {
    position: absolute;
    top: 90px;
    left: 40px;
    z-index: 1000;
    width: 250px;
    font-size:10px;
}

#data h6 {
    color: #000;
    border-bottom: 1px solid #ddd;
    margin: 0 0 15px;
    padding: 0 0 3px;
}

#data .axis path, #data .axis line {
    fill: none;
    stroke:#b6b6b6;
    shape-rendering: crispEdges;
    font-family: Arial, sans-serif;
}

#data .axis text, #data text.index-name {
    fill:#999;
    font-size: 10px;
    font-family: Arial, sans-serif;
}

#data text.index-value {
    font-size: 10px;
    font-family: Arial, sans-serif;
}

#data .edge-index { fill: #1f77b4; }

#data .openness-index { fill: #ff7f0e; }

#data .chart-header {
    margin-bottom: 5px;
}
#data .chart-title {
    color: #000;
    display: block;
    font-size: 13px;
    margin-bottom: 2px;
}

/* *********************************************************************************************************************
 * LEGENDS
 * ********************************************************************************************************************/
.legend.urban-footprint .legend-box.urban-built-up { background-color: rgb(0,38,148) }
.legend.urban-footprint .legend-box.suburban-built-up { background-color: rgb(150,150,150) }
.legend.urban-footprint .legend-box.rural-built-up { background-color: rgb(255,255,255) }
.legend.urban-footprint .legend-box.fringe-open-land { background-color: rgb(252,181,28) }
.legend.urban-footprint .legend-box.captured-open-land { background-color: rgb(161,237,0) }
.legend.urban-footprint .legend-box.rural-open-land { background-color: rgb(33,135,4) }
.legend.urban-footprint .legend-box.water { background-color: rgb(71,194,255) }

.legend.urban-area .legend-box.urban-built-up { background-color: rgb(0,38,148) }
.legend.urban-area .legend-box.suburban-built-up { background-color: rgb(150,150,150) }
.legend.urban-area .legend-box.rural-built-up { background-color: rgb(255,255,255) }
.legend.urban-area .legend-box.urbanized-open-land { background-color: rgb(252,247,115) }
.legend.urban-area .legend-box.captured-open-land { background-color: rgb(161,237,0) }
.legend.urban-area .legend-box.rural-open-land { background-color: rgb(33,135,4) }
.legend.urban-area .legend-box.water { background-color: rgb(71,194,255) }

.legend.new-development .legend-box.infill { background-color: rgb(168,56,0) }
.legend.new-development .legend-box.extension { background-color: rgb(255,85,0) }
.legend.new-development .legend-box.leapfrog { background-color: rgb(245,245,0) }

/* *********************************************************************************************************************
 * FLAT UI CUSTOMIZATION
 * ********************************************************************************************************************/
.alert {
    padding: 18px 40px 18px 20px;
    font-size: 14px;
}

.alert a {
    color: #333333;
}

.alert a:hover {
    color: #333333;
}

.ui-slider.ui-state-disabled .ui-slider-range,
.ui-slider.ui-state-disabled .ui-slider-handle {
    background-color: #bdc3c7;
}

.alert > ul {
    margin-bottom: 10px;
}

.nav-pills > li > a {
    font-size: 12px;
    font-weight: 400;
    padding: 8px 15px 8px;
}

.nav-pills.disabled > li > a {
    background-color: #bdc3c7;
    pointer-events: none;
    cursor: default;
    border-color: #a7adb1;
}

.introjs-prevbutton, .introjs-disabled {
    display: none !important;
}


/* *********************************************************************************************************************
 * SIDEBAR
 * ********************************************************************************************************************/
#sidebar {
    z-index: 9999999999999999999;
    position: absolute;
    left: -400px;
    background-color: #eceef0;
    width: 400px;
    padding: 10px 30px 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
#sidebar p.lead { font-size: 22px; }
#sidebar h6 { font-size: 18px; font-weight: bold; }
#sidebar h6 { font-size: 20px; font-weight: bold; }
#sidebar p:not(.lead), #sidebar ul, #sidebar address {
    font-size: 16px;
}

#sidebar img {
    max-width: 350px;
    margin: 0 auto;
}

.tab-slip {
    float: right;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left: 30px;
}

#sidebar .pagination {
    position: absolute;
    bottom: 0px;
    margin-left: 25px;
}

#sidebar .pagination-minimal > ul > li:not(.previous):not(.next) > a {
    border: 2px solid #515F69;
    background: #405A6F;
}

#sidebar .pagination-minimal > ul > li:not(.active):not(.previous):not(.next) > a {
    color: #405A6F;
}

#sidebar .pagination-minimal > ul > li.active > a {
    color: #ffffff;
}
