html, body, .map-canvas, #content {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* *********************************************************************************************************************
 * CONTROLS
 * ********************************************************************************************************************/
#controls {
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 1000;
    width: 250px;
}

.legend {
    font-size: 14px;
    line-height: 1;
}

.legend li {
    height: 20px;
}

.legend .legend-box {
    width: 16px;
    height: 16px;
    border: solid 1px #bdc3c7;
    margin-right: 4px;
}

/* *********************************************************************************************************************
 * LEGENDS
 * ********************************************************************************************************************/
.legend.urban-footprint .legend-box.urban-built-up { background-color: rgb(255,39,0) }
.legend.urban-footprint .legend-box.suburban-built-up { background-color: rgb(255,159,0) }
.legend.urban-footprint .legend-box.rural-built-up { background-color: rgb(255,250,0) }
.legend.urban-footprint .legend-box.fringe-open-land { background-color: rgb(207,250,57) }
.legend.urban-footprint .legend-box.captured-open-land { background-color: rgb(0,248,0) }
.legend.urban-footprint .legend-box.rural-open-land { background-color: rgb(0,177,88) }
.legend.urban-footprint .legend-box.water { background-color: rgb(52,229,252) }

.legend.urban-area .legend-box.urban-built-up { background-color: rgb(255,39,0) }
.legend.urban-area .legend-box.suburban-built-up { background-color: rgb(255,159,0) }
.legend.urban-area .legend-box.rural-built-up { background-color: rgb(255,250,0) }
.legend.urban-area .legend-box.urbanized-open-land { background-color: rgb(207,250,57) }
.legend.urban-area .legend-box.captured-open-land { background-color: rgb(0,248,0) }
.legend.urban-area .legend-box.rural-open-land { background-color: rgb(0,177,88) }
.legend.urban-area .legend-box.water { background-color: rgb(52,229,252) }

.legend.new-development .legend-box.infill { background-color: rgb(255,250,0) }
.legend.new-development .legend-box.extension { background-color: rgb(255,159,0) }
.legend.new-development .legend-box.leapfrog { background-color: rgb(255,33,0) }
.legend.new-development .legend-box.urbanized-area { background-color: rgb(135,134,135) }

/* *********************************************************************************************************************
 * FLAT UI CUSTOMIZATION
 * ********************************************************************************************************************/
.alert {
    padding: 18px 40px 18px 20px;
}

.ui-slider.ui-state-disabled .ui-slider-range,
.ui-slider.ui-state-disabled .ui-slider-handle {
    background-color: #bdc3c7;
}

.alert > ul {
    margin-bottom: 10px;
}

.nav-pills > li > a {
    font-size: 12px;
    font-weight: 400;
    padding: 8px 15px 8px;
}

.nav-pills.disabled > li > a {
    background-color: #bdc3c7;
    pointer-events: none;
    cursor: default;
    border-color: #a7adb1;
}